form {
    margin: 2rem;
    padding-top: 2rem;
}

form button {
    width: 15rem;
    background-color: rgb(236, 133, 238);
    color: black;
    padding: 0.5rem;
}

form button:hover {
    color:  rgb(236, 133, 238);
    background-color: rgb(179, 76, 179);
}

input, textarea {
    border-radius: 1.5rem solid black;
    font-family: sans-serif;
    padding: 0.25rem;
    margin: 0.75rem;
    display: block;
    width: 20rem;
}

input {
    height: 1.5rem;
}

input[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem;
}

.field-condition {
    display: flex;
    align-items: center;
}