.container-galery {
    display: flex;
    flex-wrap: wrap; /*hace un quiebre para que el contenido entre al achicar la pagina*/
    justify-content: center;
}

.galery-image {
    width: 180px;
    height: 200px;
    margin: 2px;
    border: 2px solid #000000eb;
}