@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@600&display=swap');

* {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-style: oblique;
    overflow: visible;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    margin-top: 4rem; /*Margen que se da para poder visualizarlo*/
    box-sizing: content-box;
}

h1 {
    font-family: 'Pixelify Sans', cursive;
    margin: 0;
    font-weight: 900;
    font-size: 1.5rem; 
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

p {
    font-weight: 400;
    font-size: 0,5px;
}

a, li {
    font-size: 1em;
    font-weight: 400;
}

section {
    padding: 1rem 5%;
}

/*Helpers*/

.d-flex {
    display: flex;
}

.ml-1 {
    margin-left: 15px;
}