@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@600&display=swap');

* {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-style: oblique;
    overflow: visible;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    margin-top: 4rem; /*Margen que se da para poder visualizarlo*/
    box-sizing: content-box;
}

/*HEADER*/

header a h1 {
    color: black;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

nav ul li {
    /*margin-left: 16px;
    margin-right: 16px;*/
    margin: 0 16px;
}

nav ul li a {
    color: #7d6363;
    font-size: 1,5rem;
    text-decoration: none;
}

.header-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid black;
    background-color: rgb(228, 175, 155);
    position: fixed; /*Para que cuando baje el contenido quede el header intacto*/
    top: 0; /*Arriba del header*/
    width: 100%;
}

.nosotros-banner h1 {
    background-color: #122816a1;
    font-size: 3rem;
    color: #e6e6e6;
    text-align: center;
}

/*CUERPO PAGINA*/

h1 {
    font-family: 'Pixelify Sans', cursive;
    margin: 0;
    font-weight: 900;
    font-size: 1.5rem; 
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

p {
    font-weight: 400;
    font-size: 0,5px;
}

section {
    padding: 1rem 5%;
}

.d-flex {
    display: flex;
}

.ml-1 {
    margin-left: 15px;
}

.container-galery {
    display: flex;
    flex-wrap: wrap; /*hace un quiebre para que el contenido entre al achicar la pagina*/
    justify-content: center;
}

.galery-image {
    width: 180px;
    height: 200px;
    margin: 2px;
    border: 2px solid #000000eb;
}

/*PAGINA SOBRE NOSOTROS*/

.nosotros-banner {
    background-image: url(https://images.unsplash.com/photo-1454372182658-c712e4c5a1db?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    width: 90vw;
    height: 85vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nosotros-banner p {
    background-color: #122816a1; 
    color: white;
    text-align: center;
}