form {
    margin: 2rem;
    padding-top: 2rem;
}

form button {
    width: 15rem;
    background-color: rgb(236, 133, 238);
    color: black;
    padding: 0.5rem;
}

form button:hover {
    color:  rgb(236, 133, 238);
    background-color: rgb(179, 76, 179);
}

input, textarea, select {
    border-radius: 1.5rem;
    border: 1px solid black;
    font-family: sans-serif;
    padding: 0.25rem;
    margin: 0.75rem 0;
    display: block;
    width: 20rem;
}

input {
    height: 1.5rem;
}

fieldset {
    width: 20rem;
}

.field-gender {
    display: flex;
    align-items: center;
}

input[type="radio"] {  /*Es condicional para los input*/
    height: 1.5rem; /*Para que le de el espacio pequeño*/
    width: 1.5rem;
}