.toast__container {
    padding: 2rem;
    .toast__title {
        font-size: 1.5rem;
        margin: 1rem;
        margin-left: 0;
    }
    .toast__description {
        font-size: 1rem;
        margin-top: 0;
    }
}